body {
  font-family: helvetica;
}

ul.nav {
	list-style: none;
	height: 20px;
	padding: 30px;
	background-color: lightgrey;
}

ul.nav li {
	display: inline;
	list-style-type: none;
	width: 150px;
	height: 15px;
	padding: 10px;
	text-align: center;
	margin: 15px;
}

ul.nav a {
	text-align: center;
	padding: 10px;
	width: 150px;
	font-size: 13px;
	color: black;
	font-family: Helvetica;
}

ul.nav li:hover{
	color: black;
}	


a {
	text-decoration:none;
}